# This file is for granting permissions to the codebase
# The people mentioned here will be notified when a PR is created
# See https://help.github.com/articles/about-codeowners/
# for more information on how to use this file.

* @Abiodun-Shittu
README.md    @gekkowrld @kiptoobarchok @Abiodun-Shittu
/docs    @gekkowrld @kiptoobarchok
